# fish cache files
fishd.*
fish_history*
fish_*_history
generated_completions

# vim
.netrwhist
vim/plugged

# emacs
emacs.d/straight
emacs.d/network-security.data
emacs.d/elpa
emacs.d/magithub
emacs.d/url
.emacs.desktop*
.mc-lists.el


# fish
config/fish
config/fisherman
