# fish cache files
fishd.*
fish_history*
fish_*_history
generated_completions
.netrwhist

# leiningen REPL history
repl-history

# Syncthing
.stversions
.stfolder

# vim-plug
vim/plugged

# fish chips
config/chips/dist
config/chips/build.fish
