{:aliases {:new {:extra-deps #:seancorfield{clj-new #:mvn{:version "1.1.228"}}
                 :main-opts ["-M" "clj-new.create"]}
           :outdated {:extra-deps #:olical{depot #:mvn{:version "2.0.1"}}
                      :main-opts ["-M" "depot.outdated.main"]}
           :zprint {:extra-deps {zprint/zprint #:mvn{:version "1.0.1"}}
                    :main-opts ["-M" "zprint.main"]}}
 :deps #:org.clojure{clojure #:mvn{:version "1.10.1"}}}
