"*":
  "atom-beautify":
    general:
      _analyticsUserId: "355848f7-63e3-4970-8206-4d493d0fdb99"
  "atom-ctags":
    GotoSymbolKey: [
      "meta"
    ]
    autoBuildTagsWhenActive: true
    cmdArgs: "--exclude=node_modules --exclude=doc --exclude=release --exclude=target"
  "autocomplete-plus":
    confirmCompletion: "tab"
  autosave: {}
  "base16-syntax":
    scheme: "Monokai"
  "bracket-matcher":
    autocompleteSmartQuotes: false
  core:
    destroyEmptyPanes: false
    disabledPackages: [
      "exception-reporting"
      "metrics"
      "Zen"
      "save-session"
      "symbols-view"
    ]
    packagesWithKeymapsDisabled: [
      "script"
    ]
    projectHome: "/Users/mnewton/code"
    telemetryConsent: "no"
    useCustomTitleBar: true
  editor:
    fontFamily: "Monaco"
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
  linter:
    errorPanelHeight: 50
    showErrorInline: false
  "one-dark-ui": {}
  "open-recent": {}
  "proto-repl":
    autoPrettyPrint: true
    bootPath: "/usr/local/bin/boot"
    displayExecutedCodeInRepl: false
    displayHelpText: false
    leinPath: "/usr/local/bin/lein"
    refreshOnReplStart: false
    showInlineResults: false
  "save-session":
    dataSaveFolder: "/Users/mnewton/.atom/packages/save-session/projects"
  swackets:
    syntax: "Parentheses"
  tabs:
    usePreviewTabs: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
".clojure.source":
  editor:
    autoIndent: true
    autoIndentOnPaste: false
    nonWordCharacters: "()\"':,;~@#$%^&{}[]`"
